.layout-nav-element {
  background-color: black;
  color: #ded6d6;
}

.layout-nav-element a {
  color: #ded6d6;
}

.layout-nav-element a:hover {
  color: gray;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.favorites-position {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 1;
  cursor: pointer;
  background-color: #f4faf6aa;
  border-radius: 20%;
  padding: 4px;
  transition: all 0.15s ease-in-out;
}

.favorites-position:hover {
  background-color: #f4faf6;
}

footer {
  height: 100px;
}


.add-favorites-button img:hover {
  cursor: pointer;
}

.add-favorites-button.animated img {
  animation: animation-pulsating .3s 
}

@keyframes animation-pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
